#login-page{
    max-width: 372px;
    margin: 0 auto;

    .form-container{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .alert-container{margin-top: 1.5rem;}

        form{width: 100%;}
    }
}